.page-container {
    display: grid;
    grid-template-areas:
      "logo header"
      "sidebar main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
  }
  p {
    font-family: "Inter-SemiBold", sans-serif;
    line-height: 100%;
    letter-spacing: -0.01em;
  }

body{
    font-family: "Inter-SemiBold", sans-serif;

    
}
.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-right: 1px solid #b1b1b1;
    font-size: 28px;
    font-weight: 600;
    color: #343c6a;
}
  
.sidebar {
    grid-area: sidebar;
    background-color: white;
    border-right: 1px solid #b1b1b1;
    padding: 20px;
}

.nav-penjualan {
    color: #0058ea;
    font-weight: bold;
}
  
.navigation {
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background-color: white;
    color: #b1b1b1;
}
  
.navigation > div {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
  
.navigation img {
    width: 20px;
    height: 20px;
    overflow: visible;
}
  
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid #b1b1b1;
}
  
.dashboard-header {
    font-weight: 600;
    font-size: 28px;
    color: #343c6a;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #F5F7FA;
    color:  #343c6a;
    column-gap: 10%;
}

.main-left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding-left:40px;
    padding-right:40px;
    border:1px solid #b1b1b1;
}
.left-img{
    height: 200px;
}
.main-right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding-left:40px;
    padding-right:40px;
    border:1px solid #b1b1b1;
}

.right-img{
    height: 200px;
}