<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/Assets/admin/homepage/homepageAdminStyle.css" />
  <title>Wovey Foodcourt - Homepage Admin</title>
</head>

<body>
  <div class="page-container">
    <!-- Logo Section -->
    <div class="logo">
      <p class="wovey">Wovey<br />Foodcourt .</p>
    </div>

    <!-- Sidebar Section -->
    <div class="sidebar">
      <div class="navigation">
        <div class="menu-item dashboard">
          <img class="icon-dashboard" src="/Assets/admin/homepage/home-20.svg" />
          <p class="nav-dashboard"><a th:href="@{/admin/home}">Dashboard</a></p>
        </div>

        <div class="menu-item daftar-umk">
          <img class="icon-daftar-umk" src="/Assets/admin/homepage/book-030.svg" />
          <p class="nav-daftar-umk"><a th:href="@{/admin/umk}">Daftar UMK</a></p>
        </div>

        <div class="menu-item verifikasi">
          <img class="icon-verifikasi" src="/Assets/admin/homepage/folder-check0.svg" />
          <p class="nav-verifikasi"><a th:href="@{/admin/verifikasi}">Verifikasi</a></p>
          <span class="badge" th:text="${totalUmkTidakTerdaftarBadge}"
            th:style="|display: ${totalUmkTidakTerdaftarBadge > 0 ? 'inline-block' : 'none'}|"></span>
        </div>

        <div class="menu-item penjualan">
          <img class="icon-penjualan" src="/Assets/admin/homepage/icon-graph0.svg" />
          <p class="nav-penjualan"><a th:href="@{/admin/penjualan}">Penjualan</a></p>
        </div>

        <div class="nav-divider">
          <hr class="solid" />
        </div>

        <div class="menu-item log-out">
          <img class="icon-log-out" src="/Assets/admin/homepage/logout-040.svg" />
          <p class="nav-log-out"><a th:href="@{login/out}">Log Out</a></p>
        </div>
      </div>
    </div>

    <!-- Header Section -->
    <div class="header">
      <p class="dashboard-header">Dashboard</p>
      <img class="profile" src="/Assets/admin/homepage/generic-avatar0.svg" />
    </div>

    <!-- Main Content Section -->
    <div class="main-content">
      <div class="sub-header">
        <p class="welcome-admin">Selamat datang, Admin <span th:text="${name}"></span>!</p>
        <p class="quotes">
          "Setiap langkah kecil adalah bagian dari perjalanan besar."
        </p>
      </div>

      <div class="stats">
        <div class="stat-card">
          <div class="icon-green">
            <img src="/Assets/admin/homepage/users0.svg" />
            <p>Total UMK terdaftar saat ini</p>
            <h3 th:text="${totalUmkTerdaftar}"></h3>
          </div>
        </div>

        <div class="stat-card">
          <div class="icon-gray">
            <img src="/Assets/admin/homepage/verifikasi.svg" />
            <p>Total UMK memerlukan verifikasi</p>
            <h3 th:text="${totalUmkTidakTerdaftar}"></h3>
          </div>
        </div>
      </div>

      <div class="registered-umk-section">
        <img src="/Assets/admin/homepage/equipment-list-2.png" />
        <h3>Daftar UMK Terdaftar</h3>
        <ul class="umk-list">
          <li th:text="${UMK1}"></li>
          <li th:text="${UMK2}"></li>
          <li th:text="${UMK3}"></li>
        </ul>
      </div>

      <div class="top-products-section">
        <img src="/Assets/admin/homepage/cart.png" />
        <h3>Produk Terlaris</h3>
        <ol class="top-products-list">
          <li th:text="${terlaku1}"></li>
          <li th:text="${terlaku2}"></li>
          <li th:text="${terlaku3}"></li>
        </ol>
      </div>

      <div class="top-umks-section">
        <img src="/Assets/admin/homepage/store.jpg" />
        <h3>Top UMK dengan Penjualan Tertinggi</h3>
        <ol class="top-umks-list">
          <li th:text="${topUMK1}"></li>
          <li th:text="${topUMK2}"></li>
          <li th:text="${topUMK3}"></li>
        </ol>
      </div>
    </div>
  </div>
</body>

</html>