<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wovey Foodcourt.</title>
    <link rel="stylesheet" href="/Assets/landingPage/styleLanding.css">
</head>

<body>
    <div id="header">
        <div class="logo">Wovey Foodcourt.</div>
        <div class="login-sigin">
            <button type="button"><a th:href="@{/login/}" class="login-btn">Log in</a></button>
            <button type="button"><a th:href="@{/umk/registrasi}" class="signin-btn">Sign in</a></button>
        </div>
    </div>
    <div id="content">
        <div id="section1">
            <!-- <img src="/Assets/landingPage/bg-section-10.png" class="bg-section-1"> -->
            <div class="element-section-1">
                <div class="title-section-1">
                    Sistem Pembukuan UMK Wovey Foodcourt
                </div>
                <div class="desc-section-1">
                    Permudah segala keuangan bisnis anda!
                </div>
                <button type="button" class="sign-in-btn-section-1"><a th:href="@{/umk/registrasi}">Gabung
                        Sekarang!</a></button>
            </div>
        </div>
        <div id="section2">
            <!-- <img src="/Assets/landingPage/bg-section-20.png" class="bg-section-2"> -->
            <div class="fitur-section-2">
                <div class="left-fitur">
                    <img src="/Assets/landingPage/left-illust-section-20.png" class="left-illust-section-2">
                    <div class="title-left-fitur-section-2">
                        Manajemen Produk
                    </div>
                    <div class="desc-left-fitur-section-2">
                        Kelola pendataan produk anda dengan efisien
                    </div>
                </div>
                <div class="right-fitur">
                    <img src="/Assets/landingPage/right-illust-section-20.png" class="right-illust-section-2">
                    <div class="title-right-fitur-section-2">
                        Pencatatan Transaksi
                    </div>
                    <div class="desc-right-fitur-section-2">
                        Rekam setiap pemasukan dan pengeluaran bisnis anda dengan mudah
                    </div>
                </div>
            </div>
        </div>
        <div id="section3">
            <div class="overlay"></div>
            <div class="header-section-3">
                <div class="title-header-section-3">Bergabung dengan Kami Sekarang!</div>
                <div class="desc-header-section-3">Mengelola pembukuan usaha Anda kini lebih mudah dari sebelumnya.
                    Hanya dengan beberapa langkah sederhana, Anda sudah bisa bergabung dengan kami dan mencatat
                    transaksi serta memantau keuangan bisnis dengan praktis.</div>
            </div>
            <div class="steps-section-3">
                <div class="step1-section-3">
                    <div class="step1-title-section-3">
                        Daftar
                    </div>
                    <div class="step1-desc-section-3">Daftar dengan menekan tombol “Sign Up” lalu isi informasi sesuai
                        dengan yang diminta</div>
                </div>
                <img src="/Assets/landingPage/icon0.svg" class="arrow0">
                <div class="step2-section-3">
                    <div class="step2-title-section-3">
                        Tunggu Verifikasi
                    </div>
                    <div class="step2-desc-section-3">Tim kami akan memverifikasi data pendaftaran anda maksimal 2 x 24
                        jam</div>
                </div>
                <img src="/Assets/landingPage/icon1.svg" class="arrow1">
                <div class="step3-section-3">
                    <div class="step3-title-section-3">
                        Log in
                    </div>
                    <div class="step3-desc-section-3">Setelah terverifikasi, anda dapat langsung masuk dengan menekan
                        tombol “Log In” lalu isi dengan data yang sesuai</div>
                </div>
                <img src="/Assets/landingPage/icon2.svg" class="arrow2">
                <div class="step4-section-3">
                    <div class="step4-title-section-3">
                        Mulai Mengelola
                    </div>
                    <div class="step4-desc-section-3">Langsung tambahkan produk-produk anda dan segala macam transaksi
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="uppertext-footer">
                Hubungi kami: +62 8128736187 | woveyFC.admin@gmail.com
            </div>
            <hr>
            <div class="lowertext-footer">
                Copyright © 2024 Wovey Foodcourt. All Rights Reserved
            </div>

        </div>
    </div>
</body>

</html>