<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="./vars.css" /> -->
  <link rel="stylesheet" href="/Assets/umk/penjualan/updateStyle.css" />
  <title>Wovey Foodcourt</title>
</head>

<body>
  <div class="logo">
    <p class="wovey">Wovey<br />Foodcourt .</p>
  </div>
  <div class="header">
    <p class="penjualan-header">Penjualan</p>
    <a th:href="@{/umk/profile}"><img class="profile" th:src="${profilePic}" /></a>
  </div>
  <div class="main-content">
    <div class="sub-header">
      <p class="penjualan-terkini">Penjualan Terkini</p>

      <div class="range-date">
        <form th:action="@{/umk/penjualan}" th:method="GET">
          <label for="start">Tanggal mulai:</label>
          <input type="date" id="start" name="transaksiStart" th:value="${transaksiStart}" />

          <label for="start">Tanggal terakhir:</label>

          <input type="date" id="end" name="transaksiEnd" th:value="${transaksiEnd}" />
          <input type="submit" value="submit">
        </form>

      </div>
    </div>

    <div class="sub-sub-header">
      <p class="semua-transaksi"><a th:href="@{/umk/keuangan}">Semua Transaksi</a></p>
    </div>

    <div class="list-penjualan">
      <table>
        <tr>
          <th>Nama Produk</th>
          <th>Terjual</th>
          <th>Harga Satuan</th>
          <th>Total</th>
          <th>Tanggal Transaksi</th>
        </tr>
        <tr th:each="row : ${results}">
          <td th:text="${row.namaProduk}"></td>
          <td th:text="${row.jumlah}"></td>
          <td th:text="${row.hargaSatuan}"></td>
          <td th:text="${row.total}"></td>
          <td th:text="${row.tanggal}"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="navigation">
    <div class="dashboard">
      <img class="icon-dashboard" src="/Assets/umk/daftarProduk/icon-dashboard0.svg" />
      <p class="nav-transaki"><a th:href="@{/umk/home}">Dashboard</a></p>
    </div>

    <div class="nav-produk">
      <img src="/Assets/umk/daftarProduk/icon-produk0.svg" />
      <p><a th:href="@{/umk/produk}">Produk</a></p>
    </div>

    <div class="transaksi">
      <img class="icon-transaksi" src="/Assets/umk/daftarProduk/icon-transaksi0.svg" />
      <p class="nav-transaksi"><a th:href="@{/umk/transaksi}">Transaksi</a></p>
    </div>

    <div class="keuangan">
      <img class="icon-keuangan" src="/Assets/umk/daftarProduk/icon-keuangan0.svg" />
      <p class="nav-keuangan"><a th:href="@{/umk/keuangan}">Keuangan</a></p>
    </div>

    <div class="penjualan">
      <img class="icon-penjualan" src="/Assets/umk/daftarProduk/icon-penjualan0.svg" />
      <p class="nav-penjualan"><a th:href="@{/umk/penjualan}">Penjualan</a></p>
    </div>

    <div class="nav-divider">
      <img class="divider" src="/Assets/umk/daftarProduk/divider0.svg" />
    </div>

    <div class="log-out">
      <img class="icon-log-out" src="/Assets/umk/daftarProduk/icon-log-out0.svg" />
      <p class="nav-log-out">Log Out</p>
    </div>

    <div class="bantuan">
      <img class="icon-bantuan" src="/Assets/umk/daftarProduk/icon-bantuan0.svg" />
      <p class="nav-bantuan">Bantuan</p>
    </div>
  </div>

</body>

</html>