<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/umk/mainTransaksi/mainTransaksi.css">
    <title>Penjualan</title>
</head>

<body>
    <div class="page-container">

        <div class="logo">
            <p class="wovey">Wovey<br />Foodcourt .</p>
        </div>

        <!-- Header Section -->
        <div class="header">
            <p class="dashboard-header">Transaksi</p>
            <img class="profile" src="/Assets/umk/mainTransaksi/generic-avatar0.svg" />
        </div>

        <div class="sidebar">
            <div class="navigation">
                <div class="menu-item dashboard">
                    <img class="icon-dashboard" src="/Assets/umk/mainTransaksi/icon-nav-dashboard0.svg" />
                    <p class="nav-dashboard">Dashboard</p>
                </div>

                <div class="menu-item produk">
                    <img class="icon-produk" src="/Assets/umk/mainTransaksi/icon-produk.svg" />
                    <p class="nav-produk">Produk</p>
                </div>

                <div class="menu-item transaksi">
                    <img class="icon-transaksi" src="/Assets/umk/mainTransaksi/icon-transaksi0.svg" />
                    <p class="nav-transaksi">Transaksi</p>
                    <!-- <span class="badge">13</span> -->
                </div>

                <div class="menu-item keuangan">
                    <img class="icon-keuangan" src="/Assets/umk/mainTransaksi/icon-keuangan0.svg" />
                    <p class="nav-keuangan">Keuangan</p>
                </div>
                <div class="menu-item penjualan">
                    <img class="icon-penjualan" src="/Assets/umk/mainTransaksi/icon-penjualan.svg" />
                    <p class="nav-penjualan">Penjualan</p>
                </div>

                <div class="nav-divider">
                    <hr class="solid" />
                </div>

                <div class="menu-item log-out">
                    <img class="icon-log-out" src="/Assets/umk/mainTransaksi/icon-logout.svg" />
                    <p class="nav-log-out">Log Out</p>
                </div>
            </div>
        </div>


        <div class="main-content">
            <div class="title">
                Jenis Transaksi yang Ingin Ditambahkan
            </div>
            <div class="main-section top-left">
                <img src="/Assets/umk/mainTransaksi/modal.png" class="top-left-img">
                <h2 class="top-left-section-title">Setor Modal</h2>
            </div>
            <div class="main-section top-right">
                <img src="/Assets/umk/mainTransaksi/tarik-modal.png" class="top-right-img">
                <h2 class="top-right-section-title">Tarik Modal</h2>
            </div>
            <div class="main-section bottom-left">
                <img src="/Assets/umk/mainTransaksi/biaya-operasional.png" class="bottom-left-img">
                <h2 class="bottom-left-section-title">Biaya Operasional</h2>
            </div>
            <div class="main-section bottom-right">
                <img src="/Assets/umk/mainTransaksi/penjualan.png" class="bottom-right-img">
                <h2 class="bottom-right-section-title">Penjualan</h2>
            </div>
        </div>

    </div>
</body>

</html>