.page-container {
    display: grid;
    grid-template-areas:
        "logo header"
        "sidebar main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
}

p {
    font-family: "Inter-SemiBold", sans-serif;
    line-height: 100%;
    letter-spacing: -0.01em;
}

body {
    font-family: "Inter-SemiBold", sans-serif;

    margin: 0;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-right: 1px solid #b1b1b1;
    font-size: 28px;
    font-weight: 600;
    color: #343c6a;
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    border-right: 1px solid #b1b1b1;
    padding: 20px;
}

.nav-transaksi {
    color: #0058ea;
    font-weight: bold;
}

.navigation {
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background-color: white;
    color: #b1b1b1;
}

.navigation>div {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.navigation img {
    width: 20px;
    height: 20px;
    overflow: visible;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid #b1b1b1;
}

.dashboard-header {
    font-weight: 600;
    font-size: 28px;
    color: #343c6a;
}

span {
    text-decoration: underline;
}

.title {
    color: #343c6a;
    font-size: 25px;
    font-weight: 600;

}

.main-content {
    background-color: #F5F7FA;
    padding: 25px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #0058EA;
}

.submit-btn {
    width: 150px;
    padding: 10px;
    background-color: #0058EA;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
    background-color: #4500b3;
}

.label-input-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #343c6a;
}

.container-saldo {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    grid-area: saldo;
    width: 60%;
    display: grid;
    justify-content: space-evenly;
    row-gap: 5px;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-areas:
        "icon title"
        "icon nominal";
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.container-saldo-overlay {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    grid-area: saldo;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-areas:
        "icon title"
        "icon nominal";
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    column-gap: 10px;
}

.logo-saldo {
    grid-area: icon;
}

.logo-saldo {
    width: 50px;
}

.saldo-title {
    grid-area: title;
    align-self: flex-end;
    font-size: 13px;
    font-weight: 5;
    color: #343c6a;
}

.nominal-saldo {
    grid-area: nominal;
    font-weight: 600;
    font-size: 28px;
    color: #343c6a;
    align-self: flex-start;
}


/* Overlay */
.overlay-konfirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(105, 104, 104, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.overlay-konfirm.hidden {
    display: none;
}

.container.blurred {
    filter: blur(5px);
}

.overlay-konfirm>.overlay-content {
    background: #F5F7FA;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 32%;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.overlay-content h1 {
    margin-bottom: 15px;
    color: #343C6A;
}

.overlay-content p {
    margin-bottom: 20px;
    color: #131832;
    font-weight: lighter;
    font-size: 15px;
    width: 75%;
}

.check-icon {
    width: 100px;
}

.ok-btn {
    padding: 10px 30px;
    font-size: 14px;
    background-color: #507CEA;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


/* Overlay */
.overlay-sukses {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(105, 104, 104, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-sukses.hidden {
    display: none;
}

.overlay-sukses>.overlay-content {
    background: #F5F7FA;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.container.blurred {
    filter: blur(5px);
    overflow: hidden;
}


.overlay-content h1 {
    margin-bottom: 15px;
    color: #343C6A;
}

.overlay-content p {
    margin-bottom: 20px;
    color: #131832;
    font-weight: 200;
}

.check-icon {
    width: 100px;
}

.ok-btn {
    padding: 10px 30px;
    font-size: 14px;
    background-color: #507CEA;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}



.content-container {
    display: grid;
    grid-template-areas:
        "form saldo"
        "form image";
    gap: 30px;

    grid-template-columns: 2fr 1fr;
}

.form-container {
    grid-area: form;
}

.container-saldo {
    grid-area: saldo;
    margin-top: 20px;
}

.illust-setor-modal {
    grid-area: image;
}

.warning {
    color: red;
}

#rekening {
    width: 90%;
}

.form-container {
    margin-top: 20px;
}

button {
    padding: 10px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.yes-btn {
    width: 80px;
    background-color: #09B96D;

}

.no-btn {
    width: 80px;
    background-color: #FF625C;

}

.buttons {
    display: flex;
    gap: 35%;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.overlay-content p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}